@import './variables';

body{
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-image: url(../images/bg-header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    #header-opacity{
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .7);
        padding: 42px 74px 120px 74px;
        nav{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 230px;
            h3{
                font-family: 'Source Sans Pro', sans-serif;
                font-size: 35px;
                line-height: 50px;
                font-weight: bold;
                cursor: pointer;
                span{
                    font-weight: 300;
                }
            }
            ul{
                li{
                    display: inline-block;
                    margin-left: 40px;
                    text-transform: uppercase;
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: bold;
                    letter-spacing: 0.25em;
                    cursor: pointer;
                    &:first-child{
                        margin-left: 0px;
                    }
                }
            }
            #account{
                input{
                    background-color: rgba($color: #000000, $alpha: 0);
                    border: none;
                    border-bottom: 1px solid white;
                    outline: none;
                    color: white;
                    padding-right: 20px;
                }
                >i{
                    // margin-left: -20px;
                    position: relative;
                    left: -20px;
                    margin-right: 5px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
        #header-desc{
            text-align: center;
            h5{
                font-size: 20px;
                line-height: 26px;
                font-weight: 900;
                letter-spacing: 0.2em;
                margin-bottom: 26px;
            }
            #sum-saving{
                width: 586px;
                height: 170px;
                background-image: url(../images/sum-save.svg);
                // background-color: black;
                background-repeat: no-repeat;
                background-size: 100%;
                margin: auto;
                text-align: center;
                h1{
                    font-size: 108px;
                    line-height: 143px;
                    letter-spacing: 0.1em;
                    font-weight: 900;
                    text-transform: uppercase;
                }h2{
                    font-size: 39px;
                    line-height: 52px;
                    letter-spacing: 0.1em;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
        }
    }
}

#clothes-list{
    width: 100%;
    display: flex;
    >div{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            font-size: 32px;
            line-height: 43px;
            color: #392D3B;
            font-weight: 500;
            text-transform: uppercase;
        }   
        h4{
            color: #5A495F;
        }
        img{
            width: 100%;
        }
    }
}

#new-stosk-list{
    width: 100%;
    img{
        width: 100%;
    }
    >div{width: 100%;
        display: flex;
        align-items: flex-start;
        #first-left-stock{
            width: calc((100%/1607)*552);
            margin-bottom: -3px;
        }#first-right-stock{
            width: calc((100%/1607)*1055);
            margin-bottom: -3px;
        }#second-left-stock{
            width: calc((100%/1608)*1055);
            margin-bottom: -3px;
        }#second-right-stock{
            width: calc((100%/1608)*553);
            margin-bottom: -3px;
        }
    }
}

#slider{
    width: $contanier;
    margin: auto;
    margin-bottom: 78px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    #head{
        width: 100%;
        >h1{
            margin-top: 53px;
            margin-bottom: 55px;
            @include font-style(#392D3B, 48px, 300, 63px);
            >span{
                font-weight: bold;
            }
        }
    }
    #product-item{
        flex: 1;
        text-align: center;
        #img-section{
            height: 283px;
            margin-bottom: 33px;
        }
        >h3{
            @include font-style(#392D3B, 32px, 300, 43px);
            margin-bottom: 5px;
        }p{
            text-decoration: underline;
            text-transform: uppercase;
            color: #392D3B;
        }
    }
}

#product-promotion{
    width: $contanier;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 108px;
    .product-cart{
        width: calc((100% - 28px)/3);
        text-align: center;
        img{
            width: 100%;
            margin-bottom: 13px;
        }h2{
            @include font-style(#392D3B, 32px, 500, 43px);
            margin-bottom: 2px;
            letter-spacing: 0.1em;
        }p{
            margin-bottom: 30px;
        }a{
            padding: 19px 44px;
            text-decoration: none;
            border: 2px solid #5A495F;
            color: #5A495F;
            display: inline-block;
            &:hover{
                background-color: #5A495F;
                color: white;
                transition: .2s linear;
            }
        }
    }
}

#purchase{
    width: $contanier;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .suggest-cart{
        width: calc((100% - 40px)/2);
        background-color: yellow;
        min-height: 380px;
        box-sizing: border-box;
        padding: 23px 36px;
        background-color: #48A3BF;
        >h1{
            @include font-style(white, 48px, 300, 63px);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 10px;
            >span{
                font-weight: 900;
            }
        }>h3{
            @include font-style(white, 32px, 400, 43px);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: 21px;
        }.desc{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            // align-items: flex-end;
            >p{
                @include font-style(white, 16px, 400, 19px);
                margin-right: 40px;
                width: 60%;
            }>i{
                font-size: 70px;
                color: white;
                margin-top: auto;
            }
        }
    }.sg-2{
        background-color: #DB5252;
        text-align: center;
        i{
            margin: 0 auto;
        }
    }
}

#mailing{
    width: 100%;
    padding: 105px 0px 50px 0px;
    background-image: url(../images/mail-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    #mailing-part{
        // width: 610px;
        margin: 0 auto;
        text-align: center;
        >h2{
            @include font-style(white, 32px, 500, 43px);
            text-transform: uppercase;
            margin-bottom: 2px;
            letter-spacing: 0.1em;
        }>p{
            @include font-style(white, 16px, 500, 21px);
            text-transform: uppercase;
            margin-bottom: 2px;
            letter-spacing: 0.1em;
            margin-bottom: 60px;
        }#mail-form{
            margin-bottom: 125px;
            input{
                height: 58px;
                border: 2px solid white;
                width: 450px;
                outline: none;
                background-color: rgba($color: #000000, $alpha: 0);
                @include font-style(white, 16px, 500, 21px);
                margin-right: 20px;
                padding: 0px 24px;
                &::placeholder{
                    color: rgba($color: #fff, $alpha: .7);
                }
            }button{
                height: 58px;
                border: 2px solid white;
                outline: none;
                background-color: #48A3BF;
                @include font-style(white, 16px, 500, 21px);
                text-transform: uppercase;
                padding: 0px 41px;
            }
        }
    }
    >img{
        width: 100%;
    }

}

footer{
    background-color: #392D3B;
    padding: 100px 0px 95px 0px;
    border: 1px solid #707070;
    text-align: center;
    #sm-icons{
        display: flex;
        margin: auto;
        width: 222px;
        justify-content: space-between;
        margin-bottom: 31px;
    }>h2{
        @include font-style(white, 16px, 500, 21px);
        letter-spacing: 0.1em;
        margin-bottom: 72px;
    }>p{
        @include font-style(white, 35px, 300, 50px);
        // letter-spacing: 0.1em;
        span{
            font-weight: 600;
        }
    }
}